.slider {
}
.slide {
	display: none;
}
.slide--beginners {
	position: relative;
	background: url('/DaringYoung/assets/images/beginners/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 138px;
}

.slide__header {
	padding-top: 70px;
}
.slide__link:hover,
.slide__link:active,
.slide__link {
	text-decoration: none;
	color: $colorText;
}
.logo {
	display: flex;
	max-width: 198px;
	justify-content: space-between;

	.logo__name {
		font-weight: 300;
		font-size: 22px;
		line-height: 120%;
		color: $colorText;
	}
	.logo__icon {
		background: url('/DaringYoung/assets/icons/logo.svg');
		display: inline-block;
		width: 30px;
		height: 30px;
	}
	.logo__second-name {
		font-size: 22px;
		line-height: 120%;
	}
	.logo--beginners {
		color: $colorBeginners;
	}
}
.slide__desk {
	padding-top: 195px;
}
.desk {
	.desk__sub-title {
		display: inline-block;
		position: relative;

		font-size: 20px;
		line-height: 120%;
		color: $colorBeginners;
		margin: 0;

		&::after {
			content: '';
			position: absolute;
			bottom: -7px;
			right: 0;
			background: $colorBeginners;
			width: 100%;
			height: 3px;
		}
	}

	.desk__title {
		margin: 20px 0 0 0;
		font-style: normal;
		font-size: 96px;
		line-height: 110%;
		color: $colorText;
	}
}
.desk__info {
}
.desk-info {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.desk-info__text {
		max-width: 600px;
		font-weight: 300;
		font-size: 20px;
		line-height: 125%;
		color: $colorText;
	}
	.desk-info__button {
		font-size: 20px;
		padding: 18px 50px;
		line-height: 120%;
		color: $colorText;
		border: 2px dashed $colorText;
		cursor: pointer;
	}
}

.dots {
	margin-top: 133px;
	max-width: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dot {
	background: url('/DaringYoung/assets/icons/dot-null.svg');
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.slide--specialists {
}
.logo--specialists {
}
.logo--leaders {
}
.btn-prev {
}
.btn-next {
}

.dot--beginners {
	background: url('/DaringYoung/assets/icons/dot-beginners.svg');
	display: inline-block;
	width: 25px;
	height: 25px;
}
.dot--specialists {
	background: url('/DaringYoung/assets/icons/dot-specialists.svg');
	display: inline-block;
	width: 25px;
	height: 25px;
}
.dot--leaders {
	background: url('/DaringYoung/assets/icons/dot-leaders.svg');
	display: inline-block;
	width: 25px;
	height: 25px;
}

.slide--active {
	display: block;
}

.desk-info__button:hover {
	background: $colorText;
}

.desk-info__button--beginners:hover {
	color: $colorBeginners;
}
.desk-info__button--specialists:hover {
	color: $colorSpecialists;
}
.desk-info__button--leaders:hover {
	color: $colorLeaders;
}

// @if '#desk-info__button has class #desk-info__button--specialists' {
// .desk-info__button--specialists:hover {

// }
// } @else if '#dot has class #dot--specialists' {
// 	.dot:nth-child(1):hover {
// 		background: url('/DaringYoung/assets/icons/dot-null-specialists.svg');
// 	}
// 	.dot:nth-child(3):hover {
// 		background: url('/DaringYoung/assets/icons/dot-null-specialists.svg');
// 	}
// } @else if '#dot has class #dot--leaders' {
// 	.dot:nth-child(1):hover {
// 		background: url('/DaringYoung/assets/icons/dot-null-beginners.svg');
// 	}
// 	.dot:nth-child(2):hover {
// 		background: url('/DaringYoung/assets/icons/dot-null-leaders.svg');
// 	}
// }

@if '#dot has class #dot--beginners' {
	.dot:nth-child(2):hover {
		background: url('/DaringYoung/assets/icons/dot-null-beginners.svg');
	}
	.dot:nth-child(3):hover {
		background: url('/DaringYoung/assets/icons/dot-null-beginners.svg');
	}
} @else if '#dot has class #dot--specialists' {
	.dot:nth-child(1):hover {
		background: url('/DaringYoung/assets/icons/dot-null-specialists.svg');
	}
	.dot:nth-child(3):hover {
		background: url('/DaringYoung/assets/icons/dot-null-specialists.svg');
	}
} @else if '#dot has class #dot--leaders' {
	.dot:nth-child(1):hover {
		background: url('/DaringYoung/assets/icons/dot-null-beginners.svg');
	}
	.dot:nth-child(2):hover {
		background: url('/DaringYoung/assets/icons/dot-null-leaders.svg');
	}
}
