.slide--beginners {
	position: relative;
	background: url('/work/page/assets/images/beginners/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 279px;
}
.logo--beginners {
	color: $colorBeginners;
}

.desk__sub-title--beginners {
	color: $colorBeginners;

	&::after {
		content: '';
		position: absolute;
		bottom: -7px;
		right: 0;
		background: $colorBeginners;
		width: 100%;
		height: 3px;
	}
}

.desk-info__button--beginners:hover {
	color: $colorBeginners;
}
